$primary-color: #25476a;
$success-color: #9cc56c;
$danger-color: #f55a4e;
$info-color: #37aee3;
$background-color: #ecf0f5;
$text-color-dark-area: #fff;
$text-color-light-area: #4d627b;
$label-color: #7a878e;
