.login__wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 225px 1fr;
  grid-template-areas:
    "header"
    "content";
}

.login__header {
  background-color: $primary-color;
  color: $text-color-dark-area;
  padding: 50px 20px;
  grid-area: header;
}

.login__header > div {
  align-items: center;
  display: flex;
}

.login__header i {
  font-size: 1.2rem;
  margin-right: 8px;
}

.login__header h1 {
  font-size: 1.2rem;
}

.login__content {
  grid-area: content;
  padding: 0 20px;
}

.login__form {
  background-color: white;
  border-radius: 2px;
  margin: -75px auto;
  padding: 15px 20px;
}

.login__form_group {
  flex-direction: column;
  margin: 5px 0;
  display: flex;
}

.login__form_group--inline {
  flex-direction: row-reverse;
  align-items: center;
}

.login__form_label {
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #323232;
}

.login__form_input {
  border: 1px solid lightgrey;
  transition: 0.3s ease-in;
  margin-bottom: 5px;
  border-radius: 2px;
  padding: 5px 8px;
  outline: none;
}

.login__form_input:focus {
  border: 1px solid $primary-color;
}

.login__form_checkbox {
  margin-right: 5px;
}

.login__btn {
  background-color: $primary-color;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  padding: 6px;
}

.login__btn:active {
  background-color: lighten($primary-color, 10);
}

.login__form_error {
  color: $danger-color;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .login__content {
    margin: 0 auto;
    width: 720px;
  }

  .login__header > div {
    justify-content: center;
  }

  .login__header h1 {
    font-size: 1.4rem;
  }

  .login__header i {
    font-size: 1.4rem;
  }

  .login__form {
    width: 300px;
  }
}
