{% extends "layout.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Login</th>
            <th colspan="2">Password</th>
        </tr>
    </thead>

    <tbody>
        {% for account in accounts.items %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.login }}</td>
            <td>{{ account.password }}</td>
            <td>
                <a href="#">Show</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if accounts.has_prev %}
<a href="{{ url_for('accounts.pagination', page=accounts.prev_num) }}">Prev</a>
{% else %}
<span> Prev </span>
{% endif %}

<span>{{ accounts.page }}</span>

{% if accounts.has_next %}
<a href="{{ url_for('accounts.pagination', page=accounts.next_num) }}">Next</a>
{% else %}
<span> Next </span>
{% endif %}
{% endblock %}