{% extends "layout.html" %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.name.label }}
    {{ form.name }}
    {% if form.name.errors %}
    {% for error in form.name.errors %}
    <span>{{ error }}</span>
    {% endfor %}
    {% endif %}

    {{ form.login.label }}
    {{ form.login }}
    {% if form.login.errors %}
    {% for error in form.login.errors %}
    <span>{{ error }}</span>
    {% endfor %}
    {% endif %}

    {{ form.password.label }}
    {{ form.password }}
    {% if form.password.errors %}
    {% for error in form.password.errors %}
    <span>{{ error }}</span>
    {% endfor %}
    {% endif %}

    {{ form.submit }}
</form>
{% endblock %}